:root.size-small {
    --title-size: 18px;
    --body-size: 12px;
    --footer-size: 10px;
}

:root.size-medium {
    --title-size: 36px;
    --body-size: 16px;
    --footer-size: 12px;
}

:root.size-large {
    --title-size: 43px;
    --body-size: 20px;
    --footer-size: 16px;
}

:root.font-poppins {
    --user-font-family: 'Poppins', sans-serif;
}

:root.font-serif {
    --user-font-family: 'DM Serif Display', serif;
}

:root.font-montserrat {
    --user-font-family: 'Montserrat Alternates', sans-serif;
}

:root.font-playwrite {
    --user-font-family: 'Playwrite AU NSW', serif;
}

:root.font-marck {
    --user-font-family: 'Marck Script', cursive;
}

:root.font-pacifico {
    --user-font-family: 'Pacifico', cursive;
}

/* All Light mode theme */
/* sky theme (blue light) */
:root.sky-theme {
    /* overall */
    --bg-gradient: linear-gradient(to bottom,#5987dc, #5f95e4, #68a3eb, #73b1f1, #80bff7, #94c6fa, #a6cdfc, #b6d5ff, #cbd9ff, #ddddff, #ece3ff, #f8e9ff); /*page background*/ 
    --header: #ffffff; /*header*/ 
    --footer: #333; /*footer*/
    --text-primary: #ffffff; /*text color*/

    /* chat section */
    --bg-chat-button: #83aeff; /*chat send/record button*/ 
    --bg-button-hover:#6292ec; /*chat send/record button hover*/ 
    --user-chatbox-bg: #fff; /*user chat message background*/ 
    --ai-chatbox-bg: #fcedf1; /*ai chat message background*/ 
    --border-line: #ffffff; /*chat border spreate line*/ 
    --message-input-bg:#ffffff; /*chat input bar background color*/ 
    --message-input-text: #1a1a1a; /*chat input bar text color*/ 
    --typing-indicator: #ffffff; /*typing indicator*/  

    /* gaming section */
    --game-catalog-bg: linear-gradient(135deg, #a3d5ff, #d6f0ff); /*game catalog background*/ 
    --game-catalog-shadow: rgba(100, 200, 255, 0.4); /*game catalog shadow*/ 
    --game-name-bg: #fff; /*game name background*/ 
    --game-name: #003d66; /*game name text*/ 
    --game-name-shadow: rgba(0, 102, 153, 0.2); /*game name box shadow*/ 
    --game-button: #4e8cff; /*game top left button*/ 
    --game-button-hover: #3a6cd9; /*game tp left button hover*/
    
    /* missing rps and wordle color cause it is not running in my side. */
    /* Will do once the error is fixed */
    /* all the rps and wordle color is in chat.css */

    /* drop down menu */
    --drop-menu-bg:#8bb4d9; /*drop down menu background*/ 
    --drop-menu-shadow: rgba(0, 0, 0, 0.2); /*drop down menu shadow*/
    --switcher-bg: #477db8; /*switcher background*/
    --switcher-slider:#145DA0; /*drop down menu switcher slider*/ 
    --drop-menu-divider: rgba(255, 255, 255, 0.4); /*drop down divider*/
    --drop-menu-text: #fff;

    /* about page */
    --about-title: #333; /*about page title*/ 
    --about-body: #fff; /*about page body*/ 
    --contact-button: #fff; /*about page contact button*/
    --contact-button-text: #70a4dd;
    --contact-button-hover: #70a4dd;
    --contact-button-text-hover: #fff;
    --team-member-box-bg: rgba(255, 255, 255, 0.1);
    --team-member-box-shadow: rgba(0, 0, 0, 0.1);
    --team-member-name: #494a4b;
    --team-member-text: #effeff;

    /* contact page */
    --contact-form-bg: #fff; /*contact form background*/
    --contact-form-shadow: rgba(0, 0, 0, 0.1); /*contact form box shadow*/
    --contact-form-label: #333; /*contact label*/
    --contact-textarea: #ccc; /*contatc textarea*/
    --focus-border: #5987dc; /*textarea focus border*/
    --focus-glow: rgba(89, 135, 220, 0.5); /*textarea focus glow*/
    --submit-button-bg:#5987dc; /*submit button background*/
    --submit-button:#fff; /*submit button label color*/
    --submit-button-hover:#477db8; /*submit button hover*/

    /* setting page */
    --setting-text: #fff ;
    --button-hoven: #fff;
    --button-hover-shadow: #fff;
    --selected-border-color: #fff;
    --selected-box-shadow: #fff;
    --selected-bg: rgba(255, 255, 255, 0.1);
    --save-button-border: #6BA5EB;
    --save-button-bg: #6BA5EB;
}

/* peach theme (orange pink)*/
:root.peach-theme {
    /* overall */
    --bg-gradient: radial-gradient(circle, #eedce0, #f0d7db, #f2d1d5, #f4ccce, #f6c7c7, #f5bdbb, #f3b2ae, #f0a8a0, #e9958b, #e28277, #d96f63, #d05c4f);
    --header:#fff ; /*header*/ 
    --footer: #a45e3c ; /*footer*/
    --text-primary: #fff ; /*text color*/

    /* chat section */
    --bg-chat-button: #d53e29 ; /*chat send/record button*/ 
    --bg-button-hover: #f8c1bc ; /*chat send/record button hover*/ 
    --user-chatbox-bg: #a06446; /*user chat message background*/ 
    --ai-chatbox-bg: #eedce0 ; /*ai chat message background*/ 
    --border-line: #fff; /*chat border spreate line*/ 
    --message-input-bg: #fffffe ; /*chat input bar background color*/ 
    --message-input-text: #000000 ; /*chat input bar text color*/ 
    --typing-indicator: #d05c4f ; /*typing indicator*/  

    /* game section */
    --game-catalog-bg: #d05c4f; /*game catalog background*/ 
    --game-catalog-shadow: rgba(245, 245, 220, 0.2); /*game catalog shadow*/  /*it is not shinning */
    --game-name-bg: #eedce0 ;  /*game name background*/ 
    --game-name: #d05c4f ; /*ga, me name text*/ 
    --game-name-shadow: rgba(255, 255, 255, 0.1) ; /*game name box shadow*/ 
    --game-button: #d05c4f ; /*game access button*/ 
    --game-button-hover: #eb847a ; /*game access hover*/ 

    /* drop down menu */
    --drop-menu-bg: #863d28 ; /*drop down menu background*/ 
    --drop-menu-shadow:  ; /*drop down menu shadow*/
    --switcher-bg: #a47563; /*switcher background*/
    --switcher-slider: #f8d8d481  ; /*drop down menu switcher slider*/ 
    --drop-menu-divider: #fff ; /*drop down divider*/
    --drop-menu-text: #fff ;

    /* about page */
    --about-title: #553424 ; /*about page title*/ 
    --about-body: #553424 ; /*about page body*/ 
    --contact-button: #d05c4f ; /*about page contact button*/
    --contact-button-text: #553424 ;
    --contact-button-hover:#553424 ;
    --contact-button-text-hover:#d05c4f; 
    --team-member-box-bg: #eb847a ;
    --team-member-box-shadow: rgba(255, 255, 255, 0.6) ;
    --team-member-name: #3a2419 ;
    --team-member-text: #553424 ;

    /* contact page */
    --contact-form-bg: #863d28 ; /*contact form background*/
    --contact-form-shadow: ; /*contact form box shadow*/
    --contact-form-label: #ffe5de ; /*contact label*/
    --contact-textarea: #e7dfe1 ; /*contatc textarea*/
    --focus-border: #e99d75 ; /*textarea focus border*/
    --focus-glow: rgba(255, 255, 255, 0.1) ; /*textarea focus glow*/
    --submit-button-bg: #d05c4f ; /*submit button background*/
    --submit-button: #ffe5de ; /*submit button label color*/
    --submit-button-hover: #eb847a ; /*submit button hover*/

    /* setting page */
    --setting-text: #553424 ;
    --button-hoven: #d05c4f ;
    --button-hover-shadow: rgba(255, 255, 255, 0.3);
    --selected-border-color: #553424;
    --selected-box-shadow: rgba(255, 255, 255, 0.3) ;
    --selected-bg: #d05c4f42 ;
    --save-button-border: #863d28 ;
    --save-button-bg: #863d28;
    --save-button-text: #ffe5de;
}

/* violet theme (purple blue)*/
:root.violet-theme {
    /* overall */
    --bg-gradient: linear-gradient(to right bottom, #f2d6e9, #e7cae2, #dcbedc, #cfb3d6, #c1a8d1, #b9a9d5, #b0abd8, #a7acda, #a4b9e3, #a5c6e9, #a9d2ee, #b1def1);
    --header: #fff; /*header*/ 
    --footer: #fff; /*footer*/
    --text-primary: #fff ; /*text color*/

    /* chat section */
    --bg-chat-button: #a88fbf; /*chat send/record button*/ 
    --bg-button-hover: #a88fbf ; /*chat send/record button hover*/ 
    --user-chatbox-bg: #e5d9f2; /*user chat message background*/ 
    --ai-chatbox-bg: #b08cc2 ; /*ai chat message background*/ 
    --border-line: #fff; /*chat border spreate line*/ 
    --message-input-bg: #f2e4f0; /*chat input bar background color*/ 
    --message-input-text: #3e3f4e ; /*chat input bar text color*/ 
    --typing-indicator: #6c51a6 ; /*typing indicator*/  

    /* game section */
    --game-catalog-bg: #babdf6 ; /*game catalog background*/ 
    --game-catalog-shadow:rgba(255, 255, 255, 0.2) ; /*game catalog shadow*/ 
    --game-name-bg:#eacef2; /*game name background*/ 
    --game-name: #faf6f6 ; /*game name text*/ 
    --game-name-shadow: rgba(255, 255, 255, 0.2)  ; /*game name box shadow*/ 
    --game-button: #babdf6 ; /*game top left button*/ 
    --game-button-hover: #babdf6 ; /*game tp left button hover*/ 

    /* drop down menu */
    --drop-menu-bg: #a092d3  ; /*drop down menu background*/ 
    --drop-menu-shadow: rgba(255, 255, 255, 0.4) ; /*drop down menu shadow*/
    --switcher-bg: #92bce4; /*switcher background*/
    --switcher-slider: #e4e4f457; /*drop down menu switcher slider*/ 
    --drop-menu-divider: #fff ; /*drop down divider*/
    --drop-menu-text: #fff;

    /* recommand add scroll bar in about css if in a small window*/
    /* not needed just recommmanded */
    /* about page */
    --about-title: #2e0f47; /*about page title (but do not know where it is)*/ 
    --about-body: #2e0f47 ; /*about page body*/ 
    --contact-button: #f2e4f0 ; /*about page contact button*/
    --contact-button-text: #5a397a ;
    --contact-button-hover: #59397ada ;
    --contact-button-text-hover: #f2e4f0 ; 
    --team-member-box-bg:#eacef2ce ;
    --team-member-box-shadow: rgba(255, 255, 255, 0.3);
    --team-member-name: #2e0f47 ;
    --team-member-text: #5a397a ;

    /* contact page */
    --contact-form-bg: #bed1e3 ; /*contact form background*/
    --contact-form-shadow: rgba(255, 255, 255, 0.2) ; /*contact form box shadow*/
    --contact-form-label: #3f2439 ; /*contact label*/
    --contact-textarea: #f2e4f0 ; /*contatc textarea*/
    --focus-border: #eacef2 ; /*textarea focus border*/
    --focus-glow: rgba(255, 255, 255, 0.2)  ; /*textarea focus glow*/
    --submit-button-bg: #f2e4f0 ; /*submit button background*/
    --submit-button: #3f2439 ; /*submit button label color*/
    --submit-button-hover: #e7cce3 ; /*submit button hover*/

    /* setting page */
    --setting-text: #4a245f;
    --button-hoven: #506bbbc9 ;
    --button-hover-shadow: rgba(255, 255, 255, 0.2) ;
    --selected-border-color: #506bbb3d ;
    --selected-box-shadow: rgba(255, 255, 255, 0.2) ;
    --selected-bg: #506bbb3d ;
    --save-button-border: #dabbe0 ;
    --save-button-bg: #e8d5eb ;
    --save-button-text: #4a469c;
}

/* matcha theme (green pink)*/
:root.matcha-theme {
    /* overall */
    --bg-gradient: linear-gradient(to right bottom, #436741, #657c57, #869270, #a5a98b, #c3c1a9, #d0c9b4, #ddd1c0, #e8dacc, #e8d3c8, #e7cdc6, #e5c7c5, #e1c1c6);
    --header: #ffffff ; /*header*/ 
    --footer: #354024; /*footer*/
    --text-primary: #fff ; /*text color*/

    /* chat section */
    --bg-chat-button: #5b744b ; /*chat send/record button*/ 
    --bg-button-hover: #5b744b; /*chat send/record button hover*/ 
    --user-chatbox-bg: #f9ddd8; /*user chat message background*/ 
    --ai-chatbox-bg: #a0ad98; /*ai chat message background*/ 
    --border-line: #fff; /*chat border spreate line*/ 
    --message-input-bg: #d9e2d5; /*chat input bar background color*/ 
    --message-input-text: #000000 ; /*chat input bar text color*/ 
    --typing-indicator: #35522b ; /*typing indicator*/  

    /* game section */
    --game-catalog-bg: #f8d0c8 ; /*game catalog background*/ 
    --game-catalog-shadow: rgba(255, 255, 255, 0.1) ; /*game catalog shadow*/ 
    --game-name-bg: #f3babad2 ; /*game name background*/ 
    --game-name: #fff ; /*game name text*/ 
    --game-name-shadow: rgba(255, 255, 255, 0.1) ; /*game name box shadow*/ 
    --game-button: #f0bfbfc0; /*game top left button*/ 
    --game-button-hover: #f8d0c8; /*game tp left button hover*/ 

    /* drop down menu */
    --drop-menu-bg: #f8cac0 ; /*drop down menu background*/ 
    --drop-menu-shadow: rgba(255, 255, 255, 0.1)  ; /*drop down menu shadow*/
    --switcher-bg: #f3baba; /*switcher background*/
    --switcher-slider: #f9ddd88a ; /*drop down menu switcher slider*/ 
    --drop-menu-divider: #fff ; /*drop down divider*/
    --drop-menu-text: #fff ;

    /* about page */
    --about-title: #361f0f ; /*about page title*/ 
    --about-body: #361f0f ; /*about page body*/ 
    --contact-button: #838a63 ; /*about page contact button*/
    --contact-button-text: #354024;
    --contact-button-hover: #354024;
    --contact-button-text-hover: #838a63; 
    --team-member-box-bg: #799567a8 ;
    --team-member-box-shadow:rgba(255, 255, 255, 0.1) ;
    --team-member-name: #361f0f ;
    --team-member-text: #361f0f ;

    /* contact page */
    --contact-form-bg: #f7cec7ce; /*contact form background*/
    --contact-form-shadow:rgba(255, 255, 255, 0.1) ; /*contact form box shadow*/
    --contact-form-label: #121e08; /*contact label*/
    --contact-textarea: #ded2bd ; /*contatc textarea*/
    --focus-border: #66664c ; /*textarea focus border*/
    --focus-glow:rgba(255, 255, 255, 0.1) ; /*textarea focus glow*/
    --submit-button-bg: #f9ddd8 ; /*submit button background*/
    --submit-button: #121e08; /*submit button label color*/
    --submit-button-hover: #f3baba ; /*submit button hover*/

    /* setting page */
    --setting-text: #452815 ;
    --button-hoven: #5b744ba9;
    --button-hover-shadow:rgba(255, 255, 255, 0.2) ;
    --selected-border-color: #382619;
    --selected-box-shadow: rgba(255, 255, 255, 0.2);
    --selected-bg: #5b744b7a ;
    --save-button-border:#746c648c ;
    --save-button-bg: #746c648c ;
    --save-button-text: #452815;
}

/* rose theme (pink)*/
:root.rose-theme {
    /* overall */
    --bg-gradient:linear-gradient(to left top, #d6898e, #dd99a0, #e2aab1, #e8bac2, #edcbd2, #e9c8cf, #e4c5cd, #e0c2ca, #d1abb6, #c294a2, #b37e8f, #a4687c) ;
    --header: #fff ; /*header*/ 
    --footer: #4c120b ; /*footer*/
    --text-primary: #fff ; /*text color*/

    /* chat section */
    --bg-chat-button: #f2b8c2; /*chat send/record button*/ 
    --bg-button-hover: #f9cbd2 ; /*chat send/record button hover*/ 
    --user-chatbox-bg: #d6a6ac; /*user chat message background*/ 
    --ai-chatbox-bg: #e6d9dc ; /*ai chat message background*/ 
    --border-line: #fff ; /*chat border spreate line*/ 
    --message-input-bg: #f9e8f1; /*chat input bar background color*/ 
    --message-input-text: #000000 ; /*chat input bar text color*/ 
    --typing-indicator: #8e2639 ; /*typing indicator*/  

    /* game section */
    --game-catalog-bg: #a55166 ; /*game catalog background*/ 
    --game-catalog-shadow:rgba(255, 255, 255, 0.2) ; /*game catalog shadow*/ 
    --game-name-bg: #e2b4c1 ; /*game name background*/ 
    --game-name:#fff ; /*game name text*/ 
    --game-name-shadow:rgba(255, 255, 255, 0.2)  ; /*game name box shadow*/ 
    --game-button: #d4a3a5 ; /*game top left button*/ 
    --game-button-hover: #d38c9d ; /*game tp left button hover*/ 

    /* drop down menu */
    --drop-menu-bg: #a55166 ; /*drop down menu background*/ 
    --drop-menu-shadow: rgba(255, 255, 255, 0.2) ; /*drop down menu shadow*/
    --switcher-bg: #d38c9d ; /*switcher background*/
    --switcher-slider: #e2b4c1b4 ; /*drop down menu switcher slider*/ 
    --drop-menu-divider: #f7dae7 ; /*drop down divider*/
    --drop-menu-text: #fff;

    /* about page */
    --about-title: #fff ; /*about page title !!need double check!!*/ 
    --about-body: #1d0f11 ; /*about page body*/ 
    --contact-button: #884555 ; /*about page contact button*/
    --contact-button-text: #e2b4c1;
    --contact-button-hover:#e2b4c1 ;
    --contact-button-text-hover:#884555; 
    --team-member-box-bg: #dca4a4;
    --team-member-box-shadow: rgba(255, 255, 255, 0.2) ;
    --team-member-name: #442228;
    --team-member-text:#3a1a20;

    /* contact page */
    --contact-form-bg: #a55166; /*contact form background*/
    --contact-form-shadow:rgba(255, 255, 255, 0.3) ; /*contact form box shadow*/
    --contact-form-label: #fff ; /*contact label*/
    --contact-textarea: #f9e8f1; /*contatc textarea*/
    --focus-border: #7b1d26 ; /*textarea focus border*/
    --focus-glow: rgba(255, 255, 255, 0.2); /*textarea focus glow*/
    --submit-button-bg: #ca99ab ; /*submit button background*/
    --submit-button: #fff; /*submit button label color*/
    --submit-button-hover: #e4cddd; /*submit button hover*/

    /* setting page */
    --setting-text: #660621;
    --button-hoven: #8d5e5e ;
    --button-hover-shadow:rgba(255, 255, 255, 0.2) ;
    --selected-border-color: #cf9b98d5 ;
    --selected-box-shadow:rgba(255, 255, 255, 0.2) ;
    --selected-bg: #cf9b98d5 ;
    --save-button-border:#fab3bf ;
    --save-button-bg: #fab3bf ;
    --save-button-text: #660621 ;
}

/* All dark mode theme */
/* space dark theme (pink dark)*/
:root.space-theme {
    /* overall */
    --bg-gradient: linear-gradient(to right top, #1a364e, #19344b, #193148, #182f46, #172d43, #21314a, #2b3450, #363755, #514062, #6e486a, #89516e, #a35c6e);
    --header: #fff ; /*header*/ 
    --footer: #a35c6e; /*footer*/
    --text-primary: #fff ; /*text color*/

    /* chat section */
    --bg-chat-button: #41729f; /*chat send/record button*/ 
    --bg-button-hover: #5885af; /*chat send/record button hover*/ 
    --user-chatbox-bg: #7B98CC; /*user chat message background*/ 
    --ai-chatbox-bg: #F5DDE1 ; /*ai chat message background*/ 
    --border-line: #fff ; /*chat border spreate line*/ 
    --message-input-bg: #dadaf0; /*chat input bar background color*/ 
    --message-input-text: black ; /*chat input bar text color*/ 
    --typing-indicator: #BCBCD2 ; /*typing indicator*/  

    /* game section */
    --game-catalog-bg: #2F3552 ; /*game catalog background*/ 
    --game-catalog-shadow: rgba(124, 137, 180, 0.4); /*game catalog shadow*/ 
    --game-name-bg: #4F3F61 ; /*game name background*/ 
    --game-name: #fff ; /*game name text*/ 
    --game-name-shadow: rgba(0, 102, 153, 0.2) ; /*game name box shadow*/ 
    --game-button: #4F3F61 ; /*game top left button*/ 
    --game-button-hover: #554b61; /*game tp left button hover*/ 

    /* drop down menu */
    --drop-menu-bg: #2F3552 ; /*drop down menu background*/ 
    --drop-menu-shadow: rgba(0, 0, 0, 0.2); ; /*drop down menu shadow*/
    --switcher-bg: #4F3F61 ; /*switcher background*/
    --switcher-slider: #5a4a6d ; /*drop down menu switcher slider*/ 
    --drop-menu-divider: #5d526b ; /*drop down divider*/
    --drop-menu-text: #fff ;

    /* about page */
    --about-title: #fff ; /*about page title*/ 
    --about-body: #BCBCD2 ; /*about page body*/ 
    --contact-button: #AC8C9C ; /*about page contact button*/
    --contact-button-text: #2f2233 ;
    --contact-button-hover:#2f2233;
    --contact-button-text-hover: #AC8C9C; 
    --team-member-box-bg:#ac8fac;
    --team-member-box-shadow: rgb(241, 236, 243, 0.2);
    --team-member-name: #2f2233;
    --team-member-text: #2f2233;

    /* contact page */
    --contact-form-bg: #2F3552 ; /*contact form background*/
    --contact-form-shadow: rgba(124, 137, 180, 0.4); /*contact form box shadow*/
    --contact-form-label: #7B98CC ; /*contact label*/
    --contact-textarea: #BCBCD2 ; /*contatc textarea*/
    --focus-border: #7B98CC ; /*textarea focus border*/
    --focus-glow: rgba(111, 80, 153, 0.5) ; /*textarea focus glow*/
    --submit-button-bg: #4F3F61 ; /*submit button background*/
    --submit-button: #fff ; /*submit button label color*/
    --submit-button-hover: #554b61 ; /*submit button hover*/

    /* setting page */
    --setting-text: #e9abb1 ;
    --button-hoven: #9C849C;
    --button-hover-shadow: #9C849C;
    --selected-border-color: #9C849C;
    --selected-box-shadow: #9C849C;
    --selected-bg: rgba(255, 255, 255, 0.1);
    --save-button-border: #9C849C;
    --save-button-bg: #9C849C;
    --save-button-text:#5F4465;
}

/* sea theme */
:root.sea-theme {
    /* overall */
    --bg-gradient: linear-gradient(to right bottom, #11295c, #0d2352, #081d49, #04173f, #021136, #011d43, #002950, #00365d, #005c83, #0084a3, #0faebd, #53d8d0);
    --header: #d2dbeb; /*header*/ 
    --footer: #d2dbeb; /*footer*/
    --text-primary: #d2dbeb ; /*text color*/

    /* chat section */
    --bg-chat-button: #0e2038; /*chat send/record button*/ 
    --bg-button-hover: #213a5c; /*chat send/record button hover*/ 
    --user-chatbox-bg: #4e6896; /*user chat message background*/ 
    --ai-chatbox-bg: #6e94cf ; /*ai chat message background*/ 
    --border-line: #d2dbeb; /*chat border spreate line*/ 
    --message-input-bg: #d2dbeb; /*chat input bar background color*/ 
    --message-input-text:  #0c141a; /*chat input bar text color*/ 
    --typing-indicator: #a7c1ca; /*typing indicator*/  

    /* game section */
    --game-catalog-bg: #28487b ; /*game catalog background*/ 
    --game-catalog-shadow: rgb(241, 236, 243, 0.2); /*game catalog shadow*/ 
    --game-name-bg: #4468a6 ; /*game name background*/ 
    --game-name: #d2dbeb ; /*game name text*/ 
    --game-name-shadow: rgb(241, 236, 243, 0.2); /*game name box shadow*/ 
    --game-button: #6a90b4 ; /*game top left button*/ 
    --game-button-hover: #b9cdee; /*game tp left button hover*/ 

    /* drop down menu */
    --drop-menu-bg: #6a90b4 ; /*drop down menu background*/ 
    --drop-menu-shadow: rgb(241, 236, 243, 0.2); /*drop down menu shadow*/
    --switcher-bg: #00385a; /*switcher background*/
    --switcher-slider:  #94a2bf63; /*drop down menu switcher slider*/ 
    --drop-menu-divider: #020202 ; /*drop down divider*/
    --drop-menu-text: #d2dbeb ;

    /* about page */
    --about-title:  #d2dbeb; /*about page title*/ 
    --about-body:  #d2dbeb; /*about page body*/ 
    --contact-button:  #d3bac5; /*about page contact button*/
    --contact-button-text: #143887;
    --contact-button-hover: #143887;
    --contact-button-text-hover: #d3bac5; 
    --team-member-box-bg: #d3bac5;
    --team-member-box-shadow: rgb(241, 236, 243, 0.2);
    --team-member-name: #000;
    --team-member-text:#000;

    /* contact page */
    --contact-form-bg: #15316d; /*contact form background*/
    --contact-form-shadow:rgba(124, 137, 180, 0.4); /*contact form box shadow*/
    --contact-form-label: #d2dbeb ; /*contact label*/
    --contact-textarea: #c5cdff ; /*contatc textarea*/
    --focus-border: #c5cdff; /*textarea focus border*/
    --focus-glow: rgba(124, 137, 180, 0.4); /*textarea focus glow*/
    --submit-button-bg: #717ed8; /*submit button background*/
    --submit-button: #d2dbeb; /*submit button label color*/
    --submit-button-hover: #475aaf; /*submit button hover*/

    /* setting page */
    --setting-text: #d2dbeb ;
    --button-hoven: #475aaf;
    --button-hover-shadow: rgba(124, 137, 180, 0.4);
    --selected-border-color: #e8eeff;
    --selected-box-shadow:rgba(124, 137, 180, 0.3);
    --selected-bg: #c5cdff77;
    --save-button-border: #7fade0;
    --save-button-bg: #2265a2;
    --save-button-text: #d2dbeb;
}