* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--user-font-family, 'Poppins', sans-serif);
  background-image: var(--bg-gradient);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 60px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 40px;
  width: 100%;
  z-index: 10;
  color: var(--header);
  align-items: center;
}

header .logo {
  font-size: 20px;
  font-weight: bold;
  padding-left: 400px;
  margin-top: 4%;
}

nav {
  margin-right: 200px;
  margin-top: 4%;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  font-size: 18px;
  color: var(--header);
  text-decoration: none;
}

main {
  padding-top: 80px;
  padding: 40px;
}

.character {
  width: 100%;
  max-width: 950px;
  height: auto;
  display: block;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 60%;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

.character:hover {
  content: url("../images/smile.gif");
}
