<!DOCTYPE html>
<html lang="en" class="light-theme size-medium font-poppins">
<head>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const html = document.documentElement;
      
      const theme = localStorage.getItem('selectedTheme') || (localStorage.getItem('selectedLightTheme')|| "sky-theme");
      const size = localStorage.getItem('selectedFontSize') || "size-medium";
      const font = localStorage.getItem('selectedFontClass') || "font-poppins";
      
      html.className = `${theme} ${size} ${font}`;
    });
  </script>     

    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dynamicStyles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropMenu.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Solway:wght@300;400;500;700;800&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Marck+Script&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pacifico&family=Playwrite+AU+NSW:wght@100..400&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <header>
        <div class="logo">Aurora AI</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                {% include 'dropMenu.html' %}
            </ul>
        </nav>
    </header>   

    <main>
        <form class="contact-form" action="/submit_contact" method="post" onsubmit="showNotification(event)">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
            
            <button id="submitbtn" type="submit">Submit</button>
        </form>
    </main>

    <footer>
        <p>2024-2025
            Group 5 | Drexel University
        </p>
    </footer>

    <script>
    //was deleted from the js and move to here (havent change this in repo)
    //show a notifaction after form submission
    function showNotification(event) {
        event.preventDefault();

        alert("Your message has been successfully submitted! Thank you!")

        document.getElementById("name").value='';
        document.getElementById("email").value='';
        document.getElementById("message").value='';

    }
    </script>

</body>
</html>